<plugin name='i18n-fields' version='0.7-dev' grailsVersion='1.3 &gt; *'>
  <author>Jorge Uriarte</author>
  <authorEmail>jorge.uriarte@omelas.net</authorEmail>
  <title>i18n Fields</title>
  <description>This plugin provides an easy way of declarativily localize database fields of your content tables.</description>
  <documentation>http://grails.org/plugin/i18n-fields</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>i18nfields.TestController</resource>
    <resource>i18nfields.Ego</resource>
    <resource>i18nfields.Literal</resource>
    <resource>i18nfields.LiteralService</resource>
    <resource>i18nfields.TestService</resource>
    <resource>i18nfields.TestTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='yammer-metrics' version='0.2-dev' />
  </dependencies>
  <behavior />
</plugin>